body {
    font-family: "Space Grotesk", sans-serif;
    background: radial-gradient(circle at 30% 40%, #1a1a40, #0b0b1a 70%);
    color: white;
    cursor: no-drop;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.github-logo {
    border-radius: 20%;
    border-color: #7c3aed;
    box-shadow: 0 0 20px #7c3aed;
    border: 2px solid #9d9c9e8e;
}


.logo {
    width: 30px;
    vertical-align: middle;
    margin-right: 0.3px;
}

section {
    padding: 200px 10%;
    scroll-margin-top: 120px;
}

section {
    padding: 200px 30%;
}

section ul {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 9px;

}

#umiejetnosci {
    margin-top: 100px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.03);


}

#umiejetnosci li {
    display: flex;
    align-items: center;
    gap: 6px;
}

#umiejetnosci h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}


#umiejetnosci ul {

    display: grid;
    border: #757586 4px solid;
    background-color: #1a1a40;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    list-style: none;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 12px;
    animation: fade 1.5s ease forwards; 
    opacity: 0;  
    transform: scale(0.5);

}

#projekty {
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.03);
    padding-top: 240px;
}

.projekty-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    justify-items: center;
}

.hero,
.trust {
    text-decoration: underline;
    font-size: 1.2rem;
    color: #8b10dd !important;

}


.vl {
    border-left: 6px solid rgb(79, 1, 167);
    height: 285.4%;
    position: absolute;
    left: 17%;
    top: 510px;
}

.mouse-ikona {
    position: absolute;
    border: 2px solid #7c3aed;
    left: 16.1%;
    top: 850px;
    width: 50px;
}

.scroll {
    margin-top: 100px;
    font-size: 15px;
    letter-spacing: 3px;
    writing-mode: vertical-rl;
    color: #6c63ff;
}


.flip-karta {
    position: relative;
    z-index: 0;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    perspective: 1000px;
    box-shadow: #f1f1f1 0px 7px 10px 0px;
}




.flip-karta-srodek {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.projekty-tytul {
    color: #aaa;
    text-align: center;
    margin-bottom: 40px;
}


.flip-karta-tyl p {
    padding: 10px;
    font-size: 1rem;
    color: #bbb;
}

.flip-karta:hover .flip-karta-srodek {
    transform: rotateY(180deg);

}

.slodkizakatek {
    text-decoration: none;
    color: #7c3aed;
}

.flip-karta:hover {
    text-shadow: #7c3aed 0px 2px 10px;


}


.flip-karta-przod,
.flip-karta-tyl {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-karta-przod {
    background-color: #1a1a40;
    border-radius: 15px;
    color: rgb(255, 255, 255);
}








.flip-karta-tyl {
    background-color: #1a1a40;
    ;
    border-radius: 15px;
    color: white;
    transform: rotateY(180deg);
}






#pro {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 50px;
    background: rgba(11, 11, 26, 0.6);
    backdrop-filter: blur(8px);
    z-index: 9999;
}

nav {
    z-index: 9999;
}

nav ul {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover {
    color: #7c3aed;
    text-shadow: #7c3aed 0px 2px 5px;
}

nav li:after {
    content: '/>';
    color: #666;
    font-weight: 700;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;

}

#hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 10px 0;
}

#hero h1 span {
    color: #7c3aed;
}

#hero p {
    font-size: 1.2rem;
    color: #bbb;
}

#hero p {
    font-size: 1.2rem;
    color: #bbb;
}

.separator2 {
    height: 20px;
    width: 100%;
    background: linear-gradient(to right, #2a2a5a, #5a5aff, #2a2a5a);
}

.separator {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background: url("ikony/tlo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#omnie p {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #bbb;
}

#umiejetnosci ul:hover {
    transition: all 0.3s ease-in;
    box-shadow: 0 0 20px #7c3aed;
}

#umiejetnosci p {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #bbb;
}




#hero p,
#hero h1 {
    margin: 0;
}

#omnie pre {
    width: 90%;
    padding: 30px;
    border-radius: 12px;
    font-family: 'Fira Code', monospace;
    font-size: 0.9rem;
    animation: fade 1.5s ease forwards; 
    opacity: 0;  
    transform: scale(0.5);

}

@keyframes fade {
    to {
        opacity: 1;
        transform: scale(1);
    }
}






#omnie {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.03);
  padding: 40px 20px;
}

.edytor {
  width: 60%;
  max-width: 300%;
  background-color: #1e1e2f;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  overflow: hidden;
  font-family: 'Fira Code', monospace;
  margin-top: 20px;
  animation: fade 1.5s ease forwards;
  opacity: 0;
}

.edytor-2 {
  display: flex;
  align-items: center;
  background-color: #2b2b3b;
  padding: 8px 12px;
  gap: 10px;
}

.przyciski span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.zam { background: #ff5f56; }
.mini { background: #ffbd2e; }
.max { background: #27c93f; }

.plik{
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 500;
}

pre {
  margin: 0;
  padding: 20px;
  color: #d4d4d4;
  font-size: 0.95rem;
  line-height: 1.4;
  overflow-x: auto;
}


@keyframes fade {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.github-link {
    display: none;
    padding: 0% 15px 15px 10px;
    color: #002fff;
    font-weight: 500;
    transition: 0.3s ease;
    text-decoration: none;
}


#hero,
#omnie {
    flex: 1;
}


#hero-omnie {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 120px 10% 0 10%;
    border: none;
    gap: 80px;
}

#hero-omnie::before {
    content: "";
    position: absolute;
    top: 150px;  
    right: 10%;
    left: 4%;
    width: 90%; 
    height: calc(90% - 60px); 
    border: 2px solid #908f928c;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 10px; 
    pointer-events: none; 
}



footer {
    display: flex;
    justify-content: center;
    font-family: "Bitcount Prop Single", system-ui;
}



@media screen and (max-width: 768px) {
    .github-logo {
        display: none;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .github-link {
        display: block;
    }

    #omnie pre {
        width: 224%;
        font-size: xx-small;
        flex-wrap: wrap;
        overflow-x: auto;
        white-space: pre-wrap;
        word-break: break-word;

    }

    #umiejetnosci ul {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        width: 60%;

    }
}

#kontakt p {

    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #bbb;
}

.przycisk {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7c3aed;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.przycisk:hover {
    background-color: #5a2abf;
}

#kontakt {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.03);
    padding: 40px 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    border-radius: 10px;
    background-color: #1a1a40;
}

#name,
#email,
#message {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2a2a5a;
    color: white;
}





.develp::after {
    content: " _";
    animation: writing 1.5s infinite alternate;
}



@keyframes writing {
    0% {
        content: " _";
    }

    5% {
        content: " J_";
    }

    10% {
        content: " Ju";
    }

    15% {
        content: " Jun_";
    }

    20% {
        content: " Juni";
    }

    25% {
        content: " Junior_";
    }

    30% {
        content: " Junior F";
    }

    40% {
        content: " Junior Fro_";
    }

    50% {
        content: " Junior Front";
    }

    60% {
        content: " Junior Fronte_";
    }

    70% {
        content: " Junior Frontend";
    }

    80% {
        content: " Junior Frontend D_";
    }

    90% {
        content: " Junior Frontend Devel";
    }

    100% {
        content: " Junior Frontend Developer_";
    }
}